@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-600: 900: 30 41 57;
  --brand-300: 72 80 112;
  --brand-200: 92 100 128;
  --brand-100: 140 146 168;
  --brand-50: 239 246 255;
}

body {
  background: var(--background);
  color: var(--foreground);
}
