@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-blue1: #4e5469;
  --color-blue2: #485070;
  --color-blue3: #26282f;

  /* brand blues (RGB) */
  --brand-600: 29 78 216; /* #1d4ed8 */
  --brand-300: 72 80 112; /* #485070 */
  --brand-200: 92 100 128; /* #5C6480 */
  --brand-100: 140 146 168; /* #8C92A8 */
  --brand-50: 30 41 57; /* #1E293 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
